.login .logo {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 20px;
    margin-top: 0;
    position: static;
}

.login .logo h4 {
    margin-left: 10px;
    font-family: var(--font-secondary);
}

.login .login-form form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url(../../assets/pricing-bg-3-C5t4pyj1.png), linear-gradient(#161a1e, #161a1e);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 10px;
}

.login .login-form form input {
    width: 300px;
    background: #ffffff0a;
    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 5px;
    height: 41px;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .02em;
    color: #dedada;
    padding: 10px 15px;
    outline: 0;
}

.login .login-form form button {
    border: 0;
}

@media (min-width: 576px) {
    .login .login-form form input {
        width: 400px;
    }
}