.error-page {
    width: 100%;
    height: 100vh;
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #1d1d1d 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #1d1d1d 2%, #002025 100%);
    background-image: linear-gradient(45deg, #1d1d1d 2%, #002025 100%);
}

.error-page p {
    font-size: 20px;
    color: var(--white-secondary);
    padding: 0 0 20px 0;
}

.error-page a {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}