.header-container {
    padding: 0 3%;
}

.menu-bar-button {
    height: 33px;
    width: 33px;
    border: 0;
    background-color: var(--black-trans-0);
    outline: 0;
    cursor: pointer;
    transition: all 0.4s;
    color: #eaf1f5 !important;
}

.menu-bar-button svg {
    width: 100%;
    height: auto;
}

header {
    padding: 2px 0;
    transition: all 0.4s;
    border-bottom: 1px solid;
    border-color: var(--white-trans-20);
    z-index: 200;
}

.logo {
    width: 250px;
    height: 100%;
    padding: 10px 0;
}

.logo .text {
    display: flex;
    gap: 3px;
    height: 100%;
    user-select: none;
    font-size: 28px;
}

.logo span {
    display: inline-flex;
    user-select: none;
    transition: all 0.3s;
}

.logo span span:hover {
    margin-top: -10px;
}

.logo .space {
    margin-left: 5px;
}

.logo .w-30 {
    width: 20%;
}

.logo img {
    width: 45px;
    height: 35px;
}

.main-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
    border-bottom: 2px solid transparent;
}

.main-menu .active {
    color: var(--primary);
}

.main-menu ul li a:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
}

.menu-bar {
    display: block;
}

.menu-control .logo {
    padding: 18px 2px;
}

.short-contact-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0 25px 0;
}

.short-contact-contact .w-45 {
    width: 90%;
}

.short-contact-contact .w-45 a {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.short-contact-contact .w-55 {
    width: 90%;
    padding: 15px 0;
}

.short-contact-contact .w-55 span {
    width: 100%;
    max-width: 90%;
    margin: auto;
    font-size: 19px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.short-contact-contact .w-55 span a{
    width: fit-content;
}

.menu-control {
    width: 319px;
    max-width: 319px;
    background-color: var(--black);
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: all 0.4s;
    z-index: 210;
    overflow-x: hidden;
}

.menu-control .menu {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    width: 210px;
}

.menu-control .menu .main-menu ul {
    display: block;
    padding: 20px 0;
}

.menu-control .menu .main-menu ul li {
    padding: 5px 0;
}


@media (min-width: 576px) {
    .logo img {
        width: 47px;
        height: 37px;
    }
}

@media (min-width: 992px) {

    .logo .w-30 {
        width: 30%;
    }

    .logo img {
        width: 60px;
        height: 50px;
    }

    .menu-control {
        width: 700px;
        max-width: 700px;
        background-color: transparent;
        box-sizing: border-box;
        position: static;
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: all 0.4s;
    }

    .menu-control .logo {
        display: none;
    }

    .menu-control .menu {
        width: 490px;
        max-width: 490px;
    }

    .menu-bar {
        display: none;
    }

    .menu-control .menu .main-menu ul {
        display: flex;
        gap: 20px;
    }

    .short-contact {
        width: 190px;
        max-width: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .short-contact-contact .w-55 {
        display: none;
    }

    .short-contact-contact .w-45 {
        width: 100%;
    }

    .short-contact-contact .w-45 a {
        width: 80%;
        margin: auto;
    }

    .short-contact-contact {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .menu-control {
        width: 1120px;
        max-width: 1120px;
    }

    .menu-control .menu {
        width: 500px;
        max-width: 500px;
        display: flex;
        justify-content: center;
    }

    .menu-control .menu .main-menu ul {
        gap: 25px;
    }

    .short-contact {
        width: 320px;
        max-width: 350px;
    }

    .short-contact-contact {
        display: flex;
        flex-direction: row;
    }

    .short-contact-contact .w-55 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .short-contact-contact .w-55 span {
        font-size: var(--text-sm);
        justify-content: start;
    }

    .short-contact-contact .w-55 svg {
        width: 20px;
    }

    .short-contact-contact .w-45 {
        width: 50%;
    }

    .short-contact-contact .w-45 a {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 1400px) {
    .header-container {
        padding: 0 5%;
    }

    .menu-control {
        width: 1300px;
        max-width: 1300px;
    }

    .menu-control .menu .main-menu ul {
        gap: 45px;
    }
}

@media (min-width: 1500px) {
    .header-container {
        padding: 0 7%;
    }
}