/* General Styles */
.what-we-do {
    background-color: #161519;
    padding: 50px 0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.what-we-do .heading {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 55px;
}

.what-we-do .heading span {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(6, 216, 137, .03);
    width: 100%;
    line-height: 1;
    text-align: center;
}

.what-we-do .heading h4 {
    margin-bottom: 0;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 30px;
    letter-spacing: .01em;
    color: var(--white);
    margin-top: -25px;
}

.what-we-do .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.what-we-do .content .icons {
    margin-bottom: 25px;
    padding: 0 10px;
}

.what-we-do .content .icons svg {
    fill: var(--primary);
}

.what-we-do .content .text {
    padding: 0 10px;
}

.what-we-do .content .text h3 {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 10px;
    transition: 0.5s;
}

.what-we-do .content .text p {
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #b5b5b5;
}

.what-we-do .unlock-content {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-direction: column;
}

.what-we-do .unlock-content .w-40,
.what-we-do .unlock-content .w-60 {
    width: 100%;
}

.what-we-do .unlock-content h2 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--white);
    margin-bottom: 15px;
}

.what-we-do .unlock-content p {
    font-family: var(--font-secondary);
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #b5b5b5;
}

.what-we-do .unlock-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-columns: 2;
    columns: 2;
    padding-top: 35px;
}

.what-we-do .unlock-content ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 17px;
    letter-spacing: .02em;
    color: #d7d7d7;
    margin-bottom: 30px;
}

.what-we-do .unlock-content ul svg {
    fill: var(--primary);
}

/* Media Queries */
@media (min-width: 576px) {
    .what-we-do .heading span {
        font-size: 50px;
    }

    .what-we-do .heading h4 {
        font-size: 40px;
        margin-top: -35px;
    }
}

@media (min-width: 768px) {
    .what-we-do {
        padding: 120px 0;
    }

    .what-we-do .content .icons,
    .what-we-do .content .text {
        padding: 0 20px;
    }

    .what-we-do .heading span {
        font-size: 110px;
    }

    .what-we-do .heading h4 {
        font-size: 60px;
        margin-top: -65px;
    }

    .what-we-do .unlock-content h2 {
        font-size: 45px;
    }
}

@media (min-width: 992px) {
    .what-we-do .content {
        flex-wrap: nowrap;
    }

    .what-we-do .unlock-content {
        flex-direction: row;
        margin-top: 120px;
    }

    .what-we-do .unlock-content .w-40 {
        width: 40%;
    }

    .what-we-do .unlock-content .w-60 {
        width: 60%;
    }
}